/* OVERWRITE JQUERY MOBILE STYLE *****************************************************************/


/* BALISE ****************************************************************************************/
body{
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
}


/* HELPER ****************************************************************************************/

.center{
	text-align: center;
}

.block{
	display: block;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.font-white{
	color:#aaa;
}

.margin-bottom20{
	margin-bottom: 20px;
}

.margin-top20{
	margin-top: 20px;
}

.margin-top-left20{
	margin:20px 0 0 20px;
}

.padding-left20{
	padding-left: 20px;
}

.padding-left-right20{
	padding: 0 20px 0 20px;
}

.left{
	float:left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

.piece{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background: red;
}
.ui-block-a{
	width:2px;
}



/* CLASS ****************************************************************************************/

/********************* Accueil ************************/
.content{
	background-image: -webkit-linear-gradient(left,#ED7F10, #FFD700); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(left,#ED7F10, #FFD700); /* FF3.6 */
	background-image:     -ms-linear-gradient(left,#ED7F10, #FFD700); /* IE10 */
	background-image:      -o-linear-gradient(left,#ED7F10, #FFD700); /* Opera 11.10+ */
	background-image:         linear-gradient(left,#ED7F10, #FFD700);
		
}

.bouton-mots{
	background: #0B59D5;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:230px;  
	margin:auto;	
}

.bouton-puzzle{
	background: #12C415;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:230px; 
	margin:auto; 
	margin-top:10px;
}

.bouton-help{
	background: #CA0000;
	font-weight:bold;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:230px;
	margin:auto; 
	margin-top:10px;
}

#ordre ul li, #desordre ul li {
	float: left;
	list-style-type: none;
}

.bouton-mots .ui-btn-text{
	color:red;
	font-size: 20px;
}

.bouton-puzzle .ui-btn-text{
	color:orange;
	font-size: 20px;
}

.bouton-help .ui-btn-text{
	color:blue;
	font-size: 20px;
}

/********************* Construire des mots ************************/

.ordre{
	width: 100%;
}

.desordre{
	width: 100%;
}

.order{
	width:50%;
	margin: 0 25%;
}

.ordre li{
	width: 2em;
	height: 2em;
	display:inline-block;
	padding: 5px;
	border: solid 2px #9683EC;
	margin: 5px;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	font-weight:bold;
	position: relative;
	text-align: center;
}

.desordre li{
	width: 2em;
	height: 2em;
	display:inline-block;
	padding: 5px;
	margin: 5px;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	font-weight:bold;
	position: relative;
	text-align: center;
}

.desorder{
	width:50%;
	margin: 0 25%;
}

.illustration{
	position: relative;
	text-align: center;
}

.case_vide{
}

/********************* page niveaux construire des mots ************************/
.bouton-niveau-1{
	background: #12C415;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
}

.bouton-niveau-2{
	background: #0B59D5;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
	margin-top:10px;
}

.bouton-niveau-3{
	background: #CA0000;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
	font-weight:bold; 
	margin-top:10px;
}

.bouton-niveau-1 .ui-btn-text{
	color:#702963;
	font-size: 20px;
}

.bouton-niveau-2 .ui-btn-text{
	color:red;
	font-size: 20px;
}

.bouton-niveau-3 .ui-btn-text{
	color:blue;
	font-size: 20px;
}


/********************* Puzzle ************************/


#puzzle-facile{
	background: #0B59D5;
}

#puzzle-frame {
	border: solid black 0.3em;
	width: 60em;
	height: 80em;
}

#puzzle-frame > div {
	width: 20em;
	height: 20em;
	float: left;
}

.ordre ul li, .desordre ul li {
	float: left;
	list-style-type: none;
}

.illustration img{
	width: 20%;
	height: 20%;	

}

#puzzle-frame2 {
	border: solid black 0.3em;
	width: 40em;
	height: 40em;
}

#puzzle-frame2 > div {
	width: 20em;
	height: 20em;
	float: left;
}


/********************* page niveaux puzzles ************************/
.bouton-niveau-1{
	background: #12C415;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
}

.bouton-niveau-2{
	background: #0B59D5;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
	margin-top:10px;
}

.bouton-niveau-3{
	background: #CA0000;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	width:250px;  
	margin:auto;
	font-weight:bold; 
	margin-top:10px;
}

.bouton-niveau-1 .ui-btn-text{
	color:#702963;
	font-size: 20px;
}

.bouton-niveau-2 .ui-btn-text{
	color:red;
	font-size: 20px;
}

.bouton-niveau-3 .ui-btn-text{
	color:blue;
	font-size: 20px;
}
