/* OVERWRITE JQUERY MOBILE STYLE *****************************************************************/


/* BALISE ****************************************************************************************/
body{
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
}

/* HELPER ****************************************************************************************/

.center{
	text-align: center;
}

.block{
	display: block;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.font-white{
	color:#eee;
}

.margin-bottom20{
	margin-bottom: 20px;
}

.margin-top20{
	margin-top: 20px;
}

.margin-top-left20{
	margin:20px 0 0 20px;
}

.padding-left20{
	padding-left: 20px;
}

.padding-left-right20{
	padding: 0 20px 0 20px;
}

.left{
	float:left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

/* CLASS ****************************************************************************************/

.content{
	background-image: -webkit-linear-gradient(left,#ED7F10, #FFD700); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(left,#ED7F10, #FFD700); /* FF3.6 */
	background-image:     -ms-linear-gradient(left,#ED7F10, #FFD700); /* IE10 */
	background-image:      -o-linear-gradient(left,#ED7F10, #FFD700); /* Opera 11.10+ */
	background-image:         linear-gradient(left,#ED7F10, #FFD700);
		
}

#bouton-mots{
	background: #0B59D5;
}
#bouton-mots:hover{
	background: #FFFFFF;
}

#bouton-puzzle{
	background: #12C415;
}
#bouton-puzzle:hover{
	background: #FFFFFF;
}

.ordre ul li, .desordre ul li {
	float: left;
	list-style-type: none;
}

.illustration img{
	width: 20%;
	height: 20%;	
}

#bouton-help{
	background: #CA0000;
}
#bouton-help:hover{
	background: #FFFFFF;
}

#puzzle-facile{
	background: #0B59D5;
}